.tag{
    margin:1em 5vw;
    max-width: 100%;
}
.title{
    text-shadow: 0 0 5px var(--background-text),0 0 5px var(--background-text),0 0 5px var(--background-text), 0 0 5px var(--background-text), 0 0 5px var(--background-text), 0 0 5px var(--background-text);
    font-size: 24px;
}